footer.row.visible-xs.visible-sm
	.col-xs-12
		h4 Присоединяйтесь к нам #[br]в социальных сетях:
		.social
			a(href="javascript:;").fb
			a(href="javascript:;").vk
			a(href="javascript:;").inst
			a(href="javascript:;").yt
			a(href="javascript:;").tw

			hr
		p: img(src="./img/icons/ic-copyright-black-24-px.svg", alt="facebook" onerror="this.onerror=null; this.src='./img/icons/ic-copyright-black-24-px.png'")

		p Федеральное агентство по делам Содружества Независимых государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству, 2016


footer.hidden-xs.hidden-sm
	.container
		.row.links
			.col-sm-2
				h4: a(href="children.html") Для детей
				ul
					li: a(href="children_art.html") Творчество
					li: a(href="children_devel.html") Развитие ребенка
					li: a(href="children_sport.html") Спорт
					li: a(href="children_dance.html") Танцы
					li: a(href="children_lang.html") Языковые курсы
					li: a(href="children_psy.html") Детский психолог
					li: a(href="children_long.html") Продленка

			.col-sm-2
				h4: a(href="edu.html") Учебные заведения
				ul
					li: a(href="edu_begin.html") Начальные учебные заведения
					li: a(href="edu_middle.html") Среднее образование
					li: a(href="edu_high.html") Высшее образование

			.col-sm-2
				h4: a(href="training.html") Курсы, тренинги, семинары
				ul
					li: a(href="train_lang.html") Языковые курсы
					li: a(href="train_prep.html") Подготовительные курсы
					li: a(href="train_tech.html") Технические специальности
					li: a(href="train_economics.html") Бизнес курсы и Экономика
					li: a(href="train_IT.html") Курсы IT
					li: a(href="train_drive.html") Автошколы и Курсы вождения
					li: a(href="train_psy.html") Личностный рост и психологические тренинги
					li: a(href="train_tourism.html") Туризм, гостиницы, рестораны, дизайн
					li: a(href="train_tourism.html") Самооборона и личная безопасность

			.col-sm-2
				h4: a(href="health.html") Здоровье и творчество
				ul
					li: a(href="health_beauty.html") Косметология, красота
					li: a(href="health_medicine.html") Здоровье и медицина
					li: a(href="health_music.html") Музыкальные школы и консерватории, училища
					li: a(href="health_art.html") Творчество, рукоделие, мастерклассы
					li: a(href="health_yoga.html") Йога
					li: a(href="health_dance.html") Танцы
					li: a(href="health_sport.html") Спорт
					li: a(href="health_photo.html") Фотографии/ видео-курсы

			.col-sm-2
				h4: a(href="foreign.html") Обучение за рубежом
				ul
					li: a(href="foreign_school.html") Школы, гимназии, лицеи
					li: a(href="foreign_university.html") Институты, университеты

			.col-sm-2
				h4 Подписывайтесь:
				.footerSubscr
					button(type="submit").pull-right.btn.btn-warning: strong OK
					input(type="email", placeholder="Ваша эл.почта").form-control
				.footerSocial
					h4 И присоединяйтесь:
					.social
						a(href="javascript:;").fb
						a(href="javascript:;").vk
						//a(href="javascript:;").inst
						//a(href="javascript:;").yt
						//a(href="javascript:;").tw

		//.row
			.col-xs-12
				hr
			.col-xs-5.footInfo
				.block.err
					p.
						Нашли опечатку? #[br]
						Сообщите нам, выделив текст с ошибкой и нажав Ctrl+Enter

				.block.copy
					p.
						Федеральное агентство по делам Содружества Независимых государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству, 2016

				.block.geo
					p.
						125009, Москва, ул. Воздвиженка, д. 18/9 #[br]
						Эл. почта: #[a(href="mailto:rossotr@rs.gov.ru") rossotr@rs.gov.ru] #[br]
						#[a(href="contacts.html") Контактная информация]

			.col-xs-6.col-xs-offset-1.footGov
				.row
					.col-xs-4.text-center
						a(href="javascript:;")
							img(src="./img/icons/kremlin-ru-logo.png", alt="")
							span Президент России

					.col-xs-4.text-center
						a(href="javascript:;")
							img(src="./img/icons/govenrment-logo.png", alt="")
							span Правительство Российской Федерации

					.col-xs-4.text-center
						a(href="javascript:;")
							img(src="./img/icons/mid-logo.png", alt="")
							span Министерство иностранных дел

