header.hidden-sm.hidden-xs
	.row
		.headerContent.col-xs-12
			.row
				.col-xs-4
					a(href="./")
						.headerLogo.pull-left
							img(src="./img/icons/uchebakz-logo.png")

						.headerText.pull-left
							h1 Учеба.кз
							p.
								Каталог учебных #[br]
								заведений Казахстана

				.headerContact.col-md-3.col-lg-2
					p: em Обращайтесь
					h2: a(href="tel:+77272495980") +7 (727) 249-59-80
					a(href="mailto:e@mail.ru") e@mail.ru

				.headerSocial.col-md-3.col-lg-4
					p: em Подписывайтесь
					.social
						a(href="javascript:;").fb
						a(href="javascript:;").vk
						//a(href="javascript:;").inst
						//a(href="javascript:;").yt
						//a(href="javascript:;").tw

				.headerAccount.col-xs-2
					p: em Присоединяйтесь
					a(href="account.html") Добавить учебное заведение


