nav.navbar.navbar-default.navbar-fixed-top.visible-sm.visible-xs
	.container
		.navbar-header
			button(type="button" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false").navbar-toggle.collapsed
				img(src="./img/icons/ic-menu.svg", onerror="this.onerror=null; this.src='./img/icons/ic-menu.png'").menu
				img(src="./img/icons/ic-close-black-24-px.svg", onerror="this.onerror=null; this.src='./img/icons/ic-close-black-24-px.png'").closeMenu
				span.sr-only Toggle navigation

			a.logo
				img(src="./img/icons/uchebakz-logo.png")

			a.navbar-brand Учеба.кз

			a(href="javascript:;").search
				img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

			.searchField
				.input-group
					input(type="text").form-control
					span.input-group-btn
						button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")

		.collapse.navbar-collapse#navbar-collapsed
			include _sidebar

			p.represent: a(href="about.html") О компании


nav.navbar.navbar-desktop.hidden-sm.hidden-xs
	.navbarLine
		.navbar-header
			ul.nav.navbar-nav
				li
					a(href="children.html") Для детей
				li
					a(href="edu.html") Учебные заведения
				li
					a(href="train.html") Курсы, тренинги, семинары
				li
					a(href="health.html") Здоровье и творчество
				li
					a(href="foreign.html") Обучение за рубежом

		a(href="javascript:;").search
			img(src="./img/icons/ic-search.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search.png'")

		.searchField
			.input-group
				input(type="text").form-control
				span.input-group-btn
					button(type="button").btn.btn-warning: img(src="./img/icons/ic-search-white.svg", onerror="this.onerror=null; this.src='./img/icons/ic-search-white.png'")


