nav.navbar.navbar-default
	ul.nav.navbar-nav
		li
			a(href="children.html") Для детей
			ul
				li
					a(href="children_art.html") Творчество
					ul
						li: a(href="children_art_aviamodel.html") Авиамоделирование
						li: a(href="children_art_actor.html") Актерское мастерство
						li: a(href="children_art_space.html") Космонавтика
						li: a(href="children_art_dj.html") Курсы радиоведущих и диджеев
						li: a(href="children_art_draw.html") Рисование, художественные курсы
						li: a(href="children_art_robo.html") Ротототехника и конструирование

				li
					a(href="children_devel.html") Развитие ребенка
					ul
						li: a(href="children_devel_school.html") Школы развития
						li: a(href="children_devel_mental.html") Ментальная арифметика, математика
						li: a(href="children_devel_general.html") Общее развитие
						li: a(href="children_devel_logo.html") Логопед-дефектолог
						li: a(href="children_devel_logic.html") Логика
						li: a(href="children_devel_brain.html") Развитие памяти
						li: a(href="children_devel_fastreading.html") Скорочтение
						li: a(href="children_devel_programming.html") Программирование для детей
						li: a(href="children_devel_beforeschool.html") Дошкольное образование

				li
					a(href="children_sport.html") Спорт
					ul
						li: a(href="children_sport_stretch.html") Стретчинг
						li: a(href="children_sport_gym.html") Гимнастика
						li: a(href="children_sport_aero.html") Аэробика
						li: a(href="children_sport_fighting.html") Боевые искусства и единоборства
						li: a(href="children_sport_yoga.html") Йога
						li: a(href="children_sport_chess.html") Шахматы

				li: a(href="children_dance.html") Танцы
				li: a(href="children_lang.html") Языковые курсы
				li: a(href="children_psy.html") Детский психолог
				li: a(href="children_long.html") Продленка

		li
			a(href="edu.html") Учебные заведения
			ul
				li
					a(href="edu_begin.html") Начальные учебные заведения
					ul
						li: a(href="edu_begin_kindergarden.html") Ясли/ детские сады (гос. и частные)
						li: a(href="edu_begin_prepare.html") Подготовительные курсы
						li: a(href="edu_begin_school.html") Начальные школы
						li: a(href="edu_begin_licei.html") Лицеи
						li: a(href="edu_begin_gimnasy.html") Гимназии

				li
					a(href="edu_middle.html") Среднее образование
					ul
						li: a(href="edu_middle_licei.html") Лицеи
						li: a(href="edu_middle_gimnasy.html") Гимназии
						li: a(href="edu_middle_school.html") Школы
						li: a(href="edu_middle_college.html") Колледжи
						li: a(href="edu_middle_technicum.html") Техникумы

				li
					a(href="edu_high.html") Высшее образование
					ul
						li: a(href="edu_high_prepare.html") Подготовительные курсы
						li: a(href="edu_high_inst.html") Институты
						li: a(href="edu_high_univer.html") Университеты
						li: a(href="edu_high_vuz.html") ВУЗы
						li: a(href="edu_high_magistrat.html") Бакалавриат, магистратура

				li: a(href="edu_music.html") Музыкальные школы

		li
			a(href="train.html") Курсы, тренинги, семинары
			ul
				li
					a(href="train_lang.html") Языковые курсы
					ul
						li: a(href="train_lang_az.html") Азербайджанский
						li: a(href="train_lang_en.html") Английский
						li: a(href="train_lang_arab.html") Арабский
						li: a(href="train_lang_blg.html") Болгарский
						li: a(href="train_lang_greek.html") Греческий
						li: a(href="train_lang_ivrit.html") Иврит
						li: a(href="train_lang_es.html") Испанский
						li: a(href="train_lang_it.html") Итальянский
						li: a(href="train_lang_kz.html") Казахский
						li: a(href="train_lang_ch.html") Китайский
						li: a(href="train_lang_kr.html") Корейский
						li: a(href="train_lang_de.html") Немецкий
						li: a(href="train_lang_pers.html") Персидский
						li: a(href="train_lang_pl.html") Польский
						li: a(href="train_lang_ru.html") Русский
						li: a(href="train_lang_tk.html") Турецкий
						li: a(href="train_lang_uz.html") Узбекский
						li: a(href="train_lang_ugr.html") Уйгурский
						li: a(href="train_lang_fr.html") Французский
						li: a(href="train_lang_hindi.html") Хинди
						li: a(href="train_lang_cz.html") Чешский
						li: a(href="train_lang_jp.html") Японский
						li: a(href="train_lang_translate.html") Курсы переводчиков
						li: a(href="train_lang_tests.html") Подготовка к экзаменам IELTS, TOEFL, DELF, SAT, GMAT

				li
					a(href="train_prep.html") Подготовительные курсы
					ul
						li: a(href="train_prep_ent.html") Единое Национальное Тестирование (ЕНТ)
						li: a(href="train_prep_pgc.html") Промежуточный Государственный Контроль (ПГК)
						li: a(href="train_prep_nish.html") Подготовка к поступлению в НИШ, РФМШ, КТЛ, НУ, КБТУ, МУИТ, СДУ, АРЫСТАН
						li: a(href="train_prep_ielts.html") Подготовка к экзаменам IELTS, TOEFL, DELF, SAT, GMAT
						li: a(href="train_prep_kta.html") Комплексное тестирование абитуриентов (КТА)
						li: a(href="train_prep_math.html") Математика
						li: a(href="train_prep_physics.html") Физика
						li: a(href="train_prep_biology.html") Биология
						li: a(href="train_prep_geo.html") География
						li: a(href="train_prep_inform.html") Информатика
						li: a(href="train_prep_historykz.html") История Казахстана
						li: a(href="train_prep_literature.html") Литература
						li: a(href="train_prep_logic.html") Логика
						li: a(href="train_prep_chem.html") Химия

				li
					a(href="train_tech.html") Технические специальности
					ul
						li: a(href="train_tech_crane.html") Крановщик
						li: a(href="train_tech_automech.html") Курсы автомехаников
						li: a(href="train_tech_build.html") Курсы по строительству
						li: a(href="train_tech_account.html") Курсы сметчиков
						li: a(href="train_tech_lift.html") Лифтер
						li: a(href="train_tech_machine.html") Машинист
						li: a(href="train_tech_electr.html") Курсы электриков
						li: a(href="train_tech_welder.html") Сварщик
						li: a(href="train_tech_locksmith.html") Слесарь
						li: a(href="train_tech_pto.html") Курсы ПТО, ТБ, ОТ
						li: a(href="train_tech_vent.html") Отопление, вертиляция и кондиционирование
						li: a(href="train_tech_itr.html") Инженерно-технический работник (ИТР)

				li
					a(href="train_economics.html") Бизнес курсы и Экономика
					ul
						li: a(href="train_economics_buch.html") Бухгалтерские курсы
						li: a(href="train_economics_audit.html") Курсы аудиторов
						li: a(href="train_economics_journal.html") Курсы журналистики
						li: a(href="train_economics_market.html") Курсы маркетинга
						li: a(href="train_economics_event.html") Event-менеджер
						li: a(href="train_economics_forex.html") Forex
						li: a(href="train_economics_archive.html") Архивное дело
						li: a(href="train_economics_busplan.html") Бизнес-планирование
						li: a(href="train_economics_bustrain.html") Бизнес-тренинги
						li: a(href="train_economics_ved.html") ВЭД и таможенное дело
						li: a(href="train_economics_delopr.html") Делопроизводство
						li: a(href="train_economics_carddelopr.html") Кадровое делопроизводство
						li: a(href="train_economics_couching.html") Коучинг, тренинг для тренеров
						li: a(href="train_economics_broker.html") Курсы прокеров
						li: a(href="train_economics_realtor.html") Курсы риелторов
						li: a(href="train_economics_logistic.html") Менеджер по логистике
						li: a(href="train_economics_adds.html") Менеджер по маркетингу и рекламе
						li: a(href="train_economics_hr.html") Менеджер по персоналу
						li: a(href="train_economics_saler.html") Менеджер по продажам
						li: a(href="train_economics_management.html") Менеджмент
						li: a(href="train_economics_officer.html") Офис-менеджер и секретарь-референт
						li: a(href="train_economics_finaccount.html") Финансовый учет
						li: a(href="train_economics_justice.html") Юридические курсы

				li
					a(href="train_IT.html") Курсы IT
					ul
						li: a(href="train_IT_repair.html") Ремонт сотовых
						li: a(href="train_IT_courses.html") Компьютерные курсы
						li: a(href="train_IT_web.html") Курсы вэбдизайнеров и вэбразработки

				li
					a(href="train_drive.html") Автошколы и Курсы вождения

				li
					a(href="train_psy.html") Личностный рост и психологические тренинги
					ul
						li: a(href="train_psy_hypno.html") Гипноз
						li: a(href="train_psy_model.html") Курсы моделей
						li: a(href="train_psy_psycho.html") Курсы психологии
						li: a(href="train_psy_nlp.html") НЛП
						li: a(href="train_psy_oral.html") Ораторское искусство
						li: a(href="train_psy_dictor.html") Курсы теле и радиоведущих
						li: a(href="train_psy_actor.html") Актерские курсы
						li: a(href="train_psy_train.html") Психологические тренинги
						li: a(href="train_psy_razv.html") Развитие личности
						li: a(href="train_psy_family.html") Семейные отношения
						li: a(href="train_psy_fastreading.html") Скорочтение
						li: a(href="train_psy_time.html") Тайм-менеджмент
						li: a(href="train_psy_self.html") Уверенность в себе
						li: a(href="train_psy_etic.html") Этикет
						li: a(href="train_psy_poligraph.html") Профайлинг, полиграфология (детекция лжи)

				li
					a(href="train_tourism.html") Туризм, гостиницы, рестораны, дизайн
					ul
						li: a(href="train_tourism_design.html") Курсы дизайна
						li: a(href="train_tourism_oform.html") Курсы оформителей
						li: a(href="train_tourism_fen.html") Фен-шуй
						li: a(href="train_tourism_land.html") Ландшафтный дизайнер
						li: a(href="train_tourism_host.html") Гостиничное дело
						li: a(href="train_tourism_waiter.html") Курсы официантов и барменов
						li: a(href="train_tourism_cock.html") Курсы поваров и кондитеров
						li: a(href="train_tourism_carving.html") Мастер по карвингу
						li: a(href="train_tourism_tour.html") Курсы туризма
						li: a(href="train_tourism_admin.html") Курсы администратора ресторана, кафе

		li
			a(href="health.html") Здоровье и творчество
			ul
				li
					a(href="health_beauty.html") Косметология, красота
					ul
						li: a(href="health_beauty_barber.html") Курсы барберов
						li: a(href="health_beauty_depil.html") Курсы депиляции
						li: a(href="health_beauty_eyebrows.html") Курсы коррекции бровей
						li: a(href="health_beauty_cosmetology.html") Курсы косметологов
						li: a(href="health_beauty_makeup.html") Курсы макияжа и визажа
						li: a(href="health_beauty_manicure.html") Курсы маникюра, педикюра, наращивание
						li: a(href="health_beauty_hair.html") Курсы парикмахеров (прически, плетение кос, наращивание волос)
						li: a(href="health_beauty_eyelashes.html") Ламинирование наращивание и биозавивка ресниц
						li: a(href="health_beauty_perm.html") Перманентный макияж, татуаж, микроблейдинг
						li: a(href="health_beauty_tattoo.html") Тату, пирсинг
						li: a(href="health_beauty_stylist.html") Курсы стилистов имиджмейкеров
						li: a(href="health_beauty_facelifting.html") Курсы фейслифтинга
						li: a(href="health_beauty_admin.html") Курсы администратора салона красоты

				li
					a(href="health_medicine.html") Здоровье и медицина
					ul
						li: a(href="health_medicine_conceive.html") Курсы для беременных и молодых мам
						li: a(href="health_medicine_massage.html") Курсы массажа
						li: a(href="health_medicine_medical.html") Медицинские курсы
				li
					a(href="health_music.html") Музыкальные школы и консерватории, училища
					ul
						li: a(href="health_music_vocal.html") Вокал
						li: a(href="health_music_wind.html") Духовые
						li: a(href="health_music_keyboards.html") Клавишные
						li: a(href="health_music_strike.html") Ударные
						li: a(href="health_music_string.html") Струнные
						li: a(href="health_music_other.html") Прочие музыкальные инструменты

				li
					a(href="health_art.html") Творчество, рукоделие, мастерклассы
					ul
						li: a(href="health_art_batik.html") Батик
						li: a(href="health_art_biser.html") Бисероплетение
						li: a(href="health_art_val.html") Валяние
						li: a(href="health_art_vyaz.html") Вязание
						li: a(href="health_art_decoupage.html") Декупаж
						li: a(href="health_art_kvilling.html") Квиллинг
						li: a(href="health_art_ceramics.html") Керамика
						li: a(href="health_art_patchwork.html") Пэчворк
						li: a(href="health_art_izo.html") Изобразительное искусство
						li: a(href="health_art_glass.html") Роспись по стеклу и витражное дело
						li: a(href="health_art_scrap.html") Скрапбукинг
						li: a(href="health_art_stretch.html") Стретчинг
						li: a(href="health_art_flore.html") Флористика
						li: a(href="health_art_sew.html") Курсы кройки и шитья
						li: a(href="health_art_soap.html") Мыловарение
						li: a(href="health_art_other.html") Прочее

				li
					a(href="health_yoga.html") Йога
					ul
						li: a(href="health_yoga_shape.html") Шейпинг
						li: a(href="health_yoga_body.html") Бодифлекс
						li: a(href="health_yoga_yoga.html") Йога
						li: a(href="health_yoga_fitness.html") Фитнесс
						li: a(href="health_yoga_gym.html") Гимнастика
						li: a(href="health_yoga_pilates.html") Пилатес

				li
					a(href="health_dance.html") Танцы
					ul
						li: a(href="health_dance_east.html") Восточные
						li: a(href="health_dance_modern.html") Современные
						li: a(href="health_dance_latin.html") Латиноамериканские
						li: a(href="health_dance_classic.html") Классические

				li
					a(href="health_sport.html") Спорт
					ul
						li: a(href="health_sport_riding.html") Верховая езда
						li: a(href="health_sport_crossfit.html") Кросфит
						li: a(href="health_sport_chess.html") Шахматы
						li: a(href="health_sport_tennis.html") Теннис
						li: a(href="health_sport_kerling.html") Керлинг
						li: a(href="health_sport_hockey.html") Хоккей
						li: a(href="health_sport_football.html") Футбол
						li: a(href="health_sport_martial.html") Единоборства
						li: a(href="health_sport_skiing.html") Фигурное катание
						li: a(href="health_sport_swimming.html") Плавание
						li: a(href="health_sport_gymnastics.html") Спортивная гимнастика
						li: a(href="health_sport_basin.html") Бассейн
						li: a(href="health_sport_gym.html") Тренажерный зал
						li: a(href="health_sport_selfdefence.html") Самооборона

				li: a(href="health_photo.html") Фотографии, видеокурсы

		li
			a(href="foreign.html") Обучение за рубежом
			ul
				li: a(href="foreign_school.html") Школы, гимназии, лицеи
				li: a(href="foreign_university.html") Институты, университеты

