extends includes/template

block title
	title Анонс


block content
	.container
		include includes/_header

		include includes/_navbar

		.row
			aside.col-sm-3.hidden-xs
				include includes/_sidebar

			.col-sm-9.col-xs-12
				.newsBlock.anonsBlock
					.row
						.col-sm-11.col-xs-12.col-sm-offset-1
							ol.breadcrumb.hidden-xs
								li: a(href="./") Главная страница
								li: a(href="children.html") Для детей
								li: a(href="children_art.html") Творчество
								li: a(href="children_art_aviamodel.html") Авиамоделирование

							h1 Kazspace - Инженерно-Космическая школа

					.row
						.col-sm-3.col-sm-push-9
							.side
								.map.hidden-xs
									a(href="https://yandex.ru/maps/213/moscow/?um=constructor%3A3QB8SBCEBl1VHDRZ6fT9U88EUYYpWycA&source=constructor", target="_blank")
										img(src="img/contacts/img02.jpg" alt="Go to map")
								h3 +7(727)354–45–70, +7(747)735–72–21
								p Орбита-1, дом 2, Навои-Торайгырова, Бостандыкский район, Алматы
								a(href="javascript:;").visible-xs Посмотреть на карте

						.col-sm-8.col-sm-pull-3.col-xs-12.col-sm-offset-1
							h2 Школа космонавтов «KAZSPACE» обучает детей в возрасте от 7 лет моделированию прототипов космических аппаратов, космического пространства и многого другого. Школа привлекает детей не только интересными образовательными программами, но и оригинальной формой обучения. При поступлении новый ученик приносит присягу «KAZSPACE», в которой торжественно обещает хорошо учиться, уважать Родину и стать в будущем интеллигентным высокообразованным человеком. После зачисления в школу каждый новобранец получает служебное удостоверение «KAZSPACE», а после сдачи первых экзаменов - почетную золотую или серебряную звезду.

							h3 Программы обучения
							ul
								li «Авиамоделирование»
								li «Радиоэлектроника и робототехника»
								li «Системы «Умный дом и автоматизация»
								li «Аппаратостроение»
								li «Альтернативная энергетика» (моделирование и создание солнечных и ветровых электростанций)
								li «Занимательная физика и химия» (опыты и эксперименты)
								li «Программирование, создание сайтов (веб-дизайн), продвижение и монетизация»
								li «Моделирование прототипов космических аппаратов, космического пространства и Солнечной системы» (реальные прототипы из пенопласта, пластика, карбона)
								li «3Д моделирование автомашин, авиатранспорта, архитектуры» (промышленный дизайн)
								li «Моделирование космических баз и межпланетных станций» (3Д)
								li «Разработка компьютерных 3Д интерфейсов для создания интерактивных игр»
								li «2Д и 3Д анимация» (мультипликация)
								li «Астрономические исследования при помощи телескопов»


					.row
						.col-sm-8.col-xs-12.col-sm-offset-1
							.social
								p
									span Расскажите друзьям:
									br.visible-xs
									br.visible-xs
									a(href="javascript:;").fb
									span 24
									a(href="javascript:;").vk
									span 103
									a(href="javascript:;").tw
									span 2

					.row.newsPaging
						.hidden-xs
							.col-sm-4.col-sm-offset-1.prev
								a(href="javascript:;")
									p Предыдущая организация
									span КазАТО - учебный центр
							.col-sm-4.next
								a(href="javascript:;")
									p Следующая организация
									span Подготовительные курсы по математике

						.visible-xs
							.col-xs-6.prev
								a(href="javascript:;") Предыдущая организация
							.col-xs-6.next
								a(href="javascript:;") Следующая организация



	footer.row.visible-sm.visible-xs
		.container
			.row
				.col-xs-12
					h4 Присоединяйтесь к нам #[br.visible-xs]в социальных сетях:
					.social
						a(href="javascript:;").fb
						a(href="javascript:;").vk
						a(href="javascript:;").inst
						a(href="javascript:;").yt
						a(href="javascript:;").tw

						hr
					p: img(src="./img/icons/ic-copyright-black-24-px.svg", alt="facebook" onerror="this.onerror=null; this.src='./img/icons/ic-copyright-black-24-px.png'")

					p Федеральное агентство по делам Содружества Независимых государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству, 2016


	footer.hidden-sm.hidden-xs
		.container
			.row.links
				.col-sm-2
					h4: a(href="about.html") О Россотрудничестве
					ul
						li: a(href="about_programs.html") Государственные программы
						li: a(href="about_structure.html") Структура
						li: a(href="about_manage.html") Руководство
						//li: a(href="javascript:;") История

				.col-sm-2
					h4: a(href="activity.html") Деятельность
					ul
						li: a(href="activity_smp.html") Содействие международному развитию
						li: a(href="activity_diplomacy.html") Общественная дипломатия
						li: a(href="activity_russianCulture.html") Продвижение русской культуры
						li: a(href="activity_soot.html") Поддержка соотечественников
						li: a(href="activity_rulang.html") Укрепление позиций русского языка
						li: a(href="activity_edu.html") Образование и наука
						li: a(href="activity_cemetery.html") Сохранение историко-мемориальных памятников и мест погребения
						li: a(href="activity_international.html") Международные связи субъектов РФ
						li: a(href="activity_integration.html") Интеграция стран СНГ

				.col-sm-2
					h4: a(href="anons.html").active Анонсы
					ul
						li: a(href="anons.html") Кино
						li: a(href="anons.html") Выставки
						li: a(href="anons.html") Концерты
						li: a(href="anons.html") Спектакли
						li: a(href="anons.html") Конференции
						li: a(href="anons.html") Семинары
						li: a(href="anons.html") Конкурсы
						li: a(href="anons.html") Творческие встречи
						li: a(href="anons.html") Конференции

				.col-sm-2
					h4: a(href="news.html") Новости
					ul
						li: a(href="news.html") Россия
						li: a(href="news.html") СНГ
						li: a(href="news.html") Мир
						li: a(href="news.html") Образование
						li: a(href="news.html") Наука и техника
						li: a(href="news.html") Культура
						li: a(href="news.html") Общество
						li: a(href="news.html") Русский язык
						li: a(href="news.html") Народная дипломатия
						li: hr
						li: a(href="news.html") Все темы

				.col-sm-2
					h4: a(href="contacts.html") Контакты
					ul
						li: a(href="contacts_center.html") Центральный аппарат
						li: a(href="contacts_inworld.html") Представительства в мире
						li: a(href="contacts_callback.html") Написать обращение

				.col-sm-2
					h4 Подписывайтесь:
					.footerSubscr
						button(type="submit").pull-right.btn.btn-warning: strong OK
						input(type="email", placeholder="Ваша эл.почта").form-control

					.footerSocial
						h4 И присоединяйтесь:
						.social
							a(href="javascript:;").fb
							a(href="javascript:;").vk
							a(href="javascript:;").inst
							a(href="javascript:;").yt
							a(href="javascript:;").tw

			.row
				.col-xs-12
					hr
				.col-xs-5.footInfo
					.block.err
						p.
							Нашли опечатку? #[br]
							Сообщите нам, выделив текст с ошибкой и нажав Ctrl+Enter

					.block.copy
						p.
							Федеральное агентство по делам Содружества Независимых государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству, 2016

					.block.geo
						p.
							125009, Москва, ул. Воздвиженка, д. 18/9 #[br]
							Эл. почта: #[a(href="mailto:rossotr@rs.gov.ru") rossotr@rs.gov.ru] #[br]
							#[a(href="contacts.html") Контактная информация]

				.col-xs-6.col-xs-offset-1.footGov
					.row
						.col-xs-4.text-center
							a(href="http://www.kremlin.ru/", target="_blank")
								img(src="./img/icons/kremlin-ru-logo.png", alt="Президент России")
								span Президент России

						.col-xs-4.text-center
							a(href="http://government.ru/", target="_blank")
								img(src="./img/icons/govenrment-logo.png", alt="Правительство Российской Федерации")
								span Правительство Российской Федерации

						.col-xs-4.text-center
							a(href="http://www.mid.ru/ru/home", target="_blank")
								img(src="./img/icons/mid-logo.png", alt="Министерство иностранных дел")
								span Министерство иностранных дел


