extends includes/template

block title
	title Детальная | Учеба.кз


block content
	.container
		include includes/_header

		include includes/_navbar

		.row
			aside.col-sm-3.hidden-xs
				include includes/_sidebar

			.col-sm-9.col-xs-12
				.newsBlock.anonsBlock
					.row
						.col-sm-11.col-xs-12.col-sm-offset-1
							ol.breadcrumb.hidden-xs
								li: a(href="./") Главная страница
								li: a(href="children.html") Для детей
								li: a(href="children_art.html") Творчество
								li: a(href="children_art_aviamodel.html") Авиамоделирование

							h1 Kazspace - Инженерно-Космическая школа

					.row
						.col-sm-3.col-sm-push-9
							.side
								.map.hidden-xs
									a(href="https://yandex.ru/maps/213/moscow/?um=constructor%3A3QB8SBCEBl1VHDRZ6fT9U88EUYYpWycA&source=constructor", target="_blank")
										img(src="img/contacts/img02.jpg" alt="Go to map")
								h3 +7(727)354–45–70, +7(747)735–72–21
								p Орбита-1, дом 2, Навои-Торайгырова, Бостандыкский район, Алматы
								a(href="javascript:;").visible-xs Посмотреть на карте

						.col-sm-8.col-sm-pull-3.col-xs-12.col-sm-offset-1
							h2 Школа космонавтов «KAZSPACE» обучает детей в возрасте от 7 лет моделированию прототипов космических аппаратов, космического пространства и многого другого. Школа привлекает детей не только интересными образовательными программами, но и оригинальной формой обучения. При поступлении новый ученик приносит присягу «KAZSPACE», в которой торжественно обещает хорошо учиться, уважать Родину и стать в будущем интеллигентным высокообразованным человеком. После зачисления в школу каждый новобранец получает служебное удостоверение «KAZSPACE», а после сдачи первых экзаменов - почетную золотую или серебряную звезду.

							h3 Программы обучения
							ul
								li «Авиамоделирование»
								li «Радиоэлектроника и робототехника»
								li «Системы «Умный дом и автоматизация»
								li «Аппаратостроение»
								li «Альтернативная энергетика» (моделирование и создание солнечных и ветровых электростанций)
								li «Занимательная физика и химия» (опыты и эксперименты)
								li «Программирование, создание сайтов (веб-дизайн), продвижение и монетизация»
								li «Моделирование прототипов космических аппаратов, космического пространства и Солнечной системы» (реальные прототипы из пенопласта, пластика, карбона)
								li «3Д моделирование автомашин, авиатранспорта, архитектуры» (промышленный дизайн)
								li «Моделирование космических баз и межпланетных станций» (3Д)
								li «Разработка компьютерных 3Д интерфейсов для создания интерактивных игр»
								li «2Д и 3Д анимация» (мультипликация)
								li «Астрономические исследования при помощи телескопов»


					.row
						.col-sm-8.col-xs-12.col-sm-offset-1
							.social
								p
									span Расскажите друзьям:
									br.visible-xs
									br.visible-xs
									a(href="javascript:;").fb
									span 24
									a(href="javascript:;").vk
									span 103
									a(href="javascript:;").tw
									span 2

					.row.newsPaging
						.hidden-xs
							.col-sm-4.col-sm-offset-1.prev
								a(href="javascript:;")
									p Предыдущая организация
									span КазАТО - учебный центр
							.col-sm-4.next
								a(href="javascript:;")
									p Следующая организация
									span Подготовительные курсы по математике

						.visible-xs
							.col-xs-6.prev
								a(href="javascript:;") Предыдущая организация
							.col-xs-6.next
								a(href="javascript:;") Следующая организация



	include includes/_footer