extends includes/template

block title
	title Для детей | Учеба.кз


block content
	.container
		include includes/_header

		include includes/_navbar

		.row
			aside.col-sm-3.hidden-xs
				include includes/_sidebar

			.col-sm-8.col-sm-offset-1.col-xs-12
				ol.breadcrumb.hidden-xs
					li: a(href="./") Главная страница

				section.projects.block
					h1 Для детей
					.row
						.col-md-4.col-sm-6.col-xs-12
							article
								a(href="children_art.html")
									img(src="./img/projects/children_art.jpg", alt="Творчество")
								p Творчество

						.col-md-4.col-sm-6.col-xs-12
							article
								a(href="children_devel.html")
									img(src="./img/projects/children_devel.jpg", alt="Развитие ребенка")
								p Развитие ребенка

						.col-md-4.col-sm-6.col-xs-12
							article
								a(href="children_sport.html")
									img(src="./img/projects/children_sport.jpg", alt="Спорт")
								p Спорт


						.col-md-4.col-sm-6.col-xs-12
							article
								a(href="children_dance.html")
									img(src="./img/projects/children_dance.jpg", alt="Танцы")
								p Танцы

						.col-md-4.col-sm-6.col-xs-12
							article
								a(href="children_lang.html")
									img(src="./img/projects/children_lang.jpg", alt="Языковые курсы")
								p Языковые курсы

						.col-md-4.col-sm-6.col-xs-12
							article
								a(href="children_psy.html")
									img(src="./img/projects/children_psy.jpg", alt="Детский психолог")
								p Детский психолог

						.col-md-4.col-sm-6.col-xs-12
							article
								a(href="children_long.html")
									img(src="./img/projects/children_long.jpg", alt="Продленка")
								p Продленка


	include includes/_footer


