extends includes/template

block title
	title mainpage

block content
	.container
		include includes/_header
		include includes/_navbar

		.row.searchResult
			.col-xs-12
				h1 Результат поиска
				.navbarResult
					ul.nav.navbar-nav
						li.active: a(href="javascript:;") Все
						li: a(href="javascript:;") Анонсы
						li: a(href="javascript:;") Новости
						li: a(href="javascript:;") Фото и видео
						li: a(href="javascript:;") Другие разделы

			.col-xs-12
				.selectResult
					select(data-width="fit", data-size="5").selectpicker
						option Все страны
						option Россия
						option Белоруссия
						option Казахстан
						option Все страны


					select(data-width="fit").selectpicker
						option.dateAlltime За всё время
						option.datePeriod За период

					#datepicker.input-daterange.input-group
						input.input-sm.form-control(type='text', name='start')
						span.input-group-addon &mdash;
						input.input-sm.form-control(type='text', name='end')

					span.resultLine Найдено примерно 12 000 страниц


		.row
			.col-xs-12
				section.content.search
					article.result
						h2: a(href="rs.gov.ru/news/education/") Новости по теме «Образование». Россотрудничество
						div.link rs.gov.ru/news/education/
						p Россотрудничество содействует экспорту российского образования и продвижению российской высшей школы в мире.

					article.result
						h2: a(href="uzb.rs.gov.ru/news/education/") Новости по теме «Образование». Российский центр науки и культуры в…
						div.link uzb.rs.gov.ru/news/education/
						p В 2016 году Государственное бюджетное образовательное учреждение высшего образования Московской области «Технологический университет» (г. Королев Московской области, Российская Федерация) проводит…

					article.result
						h2: a(href="rs.gov.ru/news/education/") Новости по теме «Образование». Россотрудничество
						div.link rs.gov.ru/news/education/
						p Россотрудничество содействует экспорту российского образования и продвижению российской высшей школы в мире.

					article.result
						h2: a(href="uzb.rs.gov.ru/news/education/") Новости по теме «Образование». Российский центр науки и культуры в…
						div.link uzb.rs.gov.ru/news/education/
						p В 2016 году Государственное бюджетное образовательное учреждение высшего образования Московской области «Технологический университет» (г. Королев Московской области, Российская Федерация) проводит…

					article.result
						h2: a(href="rs.gov.ru/news/education/") Новости по теме «Образование». Россотрудничество
						div.link rs.gov.ru/news/education/
						p Россотрудничество содействует экспорту российского образования и продвижению российской высшей школы в мире.

					article.result
						h2: a(href="uzb.rs.gov.ru/news/education/") Новости по теме «Образование». Российский центр науки и культуры в…
						div.link uzb.rs.gov.ru/news/education/
						p В 2016 году Государственное бюджетное образовательное учреждение высшего образования Московской области «Технологический университет» (г. Королев Московской области, Российская Федерация) проводит…

					article.result
						h2: a(href="rs.gov.ru/news/education/") Новости по теме «Образование». Россотрудничество
						div.link rs.gov.ru/news/education/
						p Россотрудничество содействует экспорту российского образования и продвижению российской высшей школы в мире.

					article.result
						h2: a(href="uzb.rs.gov.ru/news/education/") Новости по теме «Образование». Российский центр науки и культуры в…
						div.link uzb.rs.gov.ru/news/education/
						p В 2016 году Государственное бюджетное образовательное учреждение высшего образования Московской области «Технологический университет» (г. Королев Московской области, Российская Федерация) проводит…

					article.result
						h2: a(href="rs.gov.ru/news/education/") Новости по теме «Образование». Россотрудничество
						div.link rs.gov.ru/news/education/
						p Россотрудничество содействует экспорту российского образования и продвижению российской высшей школы в мире.

					article.result
						h2: a(href="uzb.rs.gov.ru/news/education/") Новости по теме «Образование». Российский центр науки и культуры в…
						div.link uzb.rs.gov.ru/news/education/
						p В 2016 году Государственное бюджетное образовательное учреждение высшего образования Московской области «Технологический университет» (г. Королев Московской области, Российская Федерация) проводит…


					nav.text-center
						ul.pagination
							li.active
								a(href='javascript:;') 1
							li
								a(href='javascript:;') 2
							li
								a(href='javascript:;') 3
							li
								a(href='javascript:;') 4
							li
								a(href='javascript:;') 5
							li
								a(href='javascript:;') 6
							li
								a(href='javascript:;') 7
							li
								a(href='javascript:;') 8
							li
								a(href='javascript:;') 9
							li
								a(href='javascript:;') 10
							li
								a(href='javascript:;', aria-label='Next')
									span(aria-hidden='true') Следующая


	include includes/_footer

